# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  matlab: mathworks/matlab@0.1
# parameters:
#    cattotest:
#      default: "regression"
#      type: string    
jobs:
  build:
    parameters:
      p:
        default: 1
        type: integer    
     machine:
         image: ubuntu-1604:201903-01
     steps:
        - checkout
        - matlab/install                       # previously `wget ...`
        - matlab/run-command:                  # previously `matlab -batch ...`   
           command: "disp('Hello world')"     
# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  uno:
    # Run the welcome/run job in its own container
    jobs:
      - build:
          p: "regression"

# version: 2.1
# jobs:
#   build:
#     parameters:
#       p:
#         type: integer
#         default: 1
#     parallelism: << parameters.p >>
#     machine: true
#     steps:
#       - checkout
# workflows:
#   workflow:
#     jobs:
#       - build:
#           p: 2
